server {
    listen 80;
    server_name _;

    root /var/www/idp.amtgard.com/public;
    index index.htm index.html index.php;

    add_header Access-Control-Allow-Origin *;

    location / {
	    try_files $uri $uri/ =404 /index.php?$query_string;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.4-fpm.sock;
    }

    location ~* \.(jpg|gif|png) {
        add_header Cache-Control "public, max-age=300, must-revalidate";
    }
}